<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Alunos Cadastrados</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Lista de Alunos</h1>
    <a href="{{ url_for('cadastro') }}">Cadastrar novo aluno</a>
    <table border="1">
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Idade</th>
            <th>Curso</th>
        </tr>
    </thead>
    <tbody>
        {% for aluno in alunos %}
        <tr>
            <td>{{ aluno['id'] }}</td>
            <td>{{ aluno['nome'] }}</td>
            <td>{{ aluno['idade'] }}</td>
            <td>{{ aluno['curso'] }}</td>
        </tr>
        {% endfor %}
</body>
</html>
